{% extends 'base.html' %}

<!-- {% load static %} -->

{% block content %}

<style>
    .main_block {
        min-height: 700px;

    }
    .empty_message {
        height: 500px;
    }
    .messages {
        padding: 10px;
    }
    .item {
        opacity: 0;
        transform: translateX(-60px);
        transition: opacity 1s ease, transform 1s ease;
      }
    .animated_block {
        opacity: 0; /* Начальная непрозрачность */
        transform: translateY(100px); /* Начальное смещение вниз */
        transition: opacity 1s ease-out, transform 1s ease-out;
    }
    .fade-left.active {
        opacity: 1;
        transform: translateX(0);
      }
    .fade-in.active { 
        opacity: 1;
        transform: translateY(0);
    }
</style>

<main class="container ">
    <div class="item fade-left main_block shadow-lg block my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Відгуки</h6>
        {% if object_list %}
        {% for obj in object_list %}
        <div class=" animated_block fade-in messages d-flex text-body-secondary pt-3">
            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded"
                width="32" height="32" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: 32x32"
                preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect
                    width="100%" height="100%" fill="#007bff"></rect><text
                    x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
            <p class="pb-3 mb-0 small lh-sm">
                <strong class="d-block text-gray-dark">@{{ obj.client.username}}
                    <small class="data text-muted">{{ obj.data }}</small></strong>
                {{ obj.comment }} -
                {% for _ in obj.get_rating %}
                  ★
                {% endfor %}
            </p>
            

        </div>

        {% endfor %}
        {% else %}
        <div class="animated_block fade-in empty_message col-sm-8 py-5 mx-auto">
            <h3 class="display-6 fw-normal text-muted">Поки що тут нічого немає.</h3>
            <strong class="fs-5 text-muted">Якщо ти так і дивитимешся на цей
                запис і дрочити тут так нічого і не з'явиться.</strong>
        </div>
        {% endif %}

        <a href="{% url 'create_comment' %}"
            class="text-black-50  px-2 nav_link">Создать</a>

        <!-- <small class="d-block text-end mt-3">
        <a href="#">All updates</a>
      </small> -->
    </div>
</main>

<script>
    const leftItems = document.querySelectorAll('.fade-left');
    const blocks = document.querySelectorAll('.fade-in');
    
    function checkFade() {
      leftItems.forEach(item => {
        const rect = item.getBoundingClientRect();
        const windowHeight = window.innerHeight;
        
        if (rect.top <= windowHeight * 0.8) {
          item.classList.add('active');
        }
      });
  
      blocks.forEach(block => {
        const rect = block.getBoundingClientRect();
        const windowHeight = window.innerHeight;
        
        if (rect.top <= windowHeight * 0.8) {
          block.classList.add('active');
        }
      });
    }
    
    window.addEventListener('scroll', checkFade);
    window.addEventListener('load', checkFade);
</script>

{% endblock content %}