{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
    .main_block {
        min-height: 700px;

    }
    .empty_message {
        height: 500px;
    }
    .messages {
        padding: 10px;
    }
    .item {
        opacity: 0;
        transform: translateX(-60px);
        transition: opacity 1s ease, transform 1s ease;
      }
    .animated_block {
        opacity: 0; /* Начальная непрозрачность */
        transform: translateY(100px); /* Начальное смещение вниз */
        transition: opacity 1s ease-out, transform 1s ease-out;
    }
    .fade-left.active {
        opacity: 1;
        transform: translateX(0);
      }
    .fade-in.active { 
        opacity: 1;
        transform: translateY(0);
    }
</style>

<div class="comments">
  <h4 class="comments__header">Тут ти можеш прочитати або залишити відгуки про
    наш сервіс</h4>
  <ul class="comments__list">
    {% for comment in comment_list %}
    {% if comment.is_active %}
    <li class="comments__list-item">
      <div class="comments__list-item__header">
        <p>@{{ comment.client.username }}</p>|
        <p>{{ comment.data }}</p>
      </div>
      <p class="comments__list-item__review">{{ comment.comment }}</p>
    </li>
    {% endif %}
    {% endfor %}
    <div class="comments__button">
      <a href="{% url 'create_comment' %}"
        class="comments__button-link">Cтворити</a>
    </div>
  </ul>

</div>

<script>
    const leftItems = document.querySelectorAll('.fade-left');
    const blocks = document.querySelectorAll('.fade-in');
    
    function checkFade() {
      leftItems.forEach(item => {
        const rect = item.getBoundingClientRect();
        const windowHeight = window.innerHeight;
        
        if (rect.top <= windowHeight * 0.8) {
          item.classList.add('active');
        }
      });
  
      blocks.forEach(block => {
        const rect = block.getBoundingClientRect();
        const windowHeight = window.innerHeight;
        
        if (rect.top <= windowHeight * 0.8) {
          block.classList.add('active');
        }
      });
    }
    
    window.addEventListener('scroll', checkFade);
    window.addEventListener('load', checkFade);
</script>

{% endblock content %}