{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
  .animated_block-down-up {
    margin-bottom: 20px;
    opacity: 0; /* Начальная непрозрачность */
    transform: translateY(100px); /* Начальное смещение вниз */
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .fade-in-down-up.active {
    opacity: 1;
    transform: translateY(0); /* Блок появляется плавно смещаясь вверх */
  }

  .animated_block-right-left {
    text-align: center;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s ease, transform 1s ease;
  }
  .fade-right.active {
    opacity: 1;
    transform: translateX(0);
  }
</style>

<div class="introduction fade-in-down-up animated_block-down-up">
  <div class="introduction__info">
    <h1 class="introduction__info-header">RISE</h1>
    <h2 class="introduction__info-underheader">INFOBUSINESS<br>
      CORPORATION</h1>
    <p class="inroduction__info-description">Надаємо якість, гарну ціну,
      автономну систему<br>для просування твоїх соц. мереж</p>
    <div class="introduction__info-button"><a
        href="{% url 'services_category' %}"
        class="introduction__info-button-link">Замовити просування <img
          src="{% static 'vector.svg' %}" alt class="vector"></a></div>

  </div>
  <img class="introduction__image" src="{% static 'intr_image.png' %}"
    alt="introduction image">
</div>

<div class="arrow">
  <img class="arrow-img" src="{% static 'movedown.png' %}"
    alt="move down arrow">
</div>

<div class="offers fade-in-down-up animated_block-down-up">
  <div class="offers__header">
    <h2 class="offers__header-text">PROMOTION</h2>
  </div>

  <ul class="offers__list">
    {% for social in socialnetwork_list %}
    {% if social.is_active %}
    <li class="offers__list-item">
      <div class="offers__list-item__logo"><img src="{{ social.logo.url }}"
          alt="logo"
          class="offers__list-item__logo-img"></div>

      <a href="{% url 'services_category' social.id %}"
        class="offers__list-item__link">
        <p class="offers__list-item__button">Обрати</p>
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  <h2 class="offers__underheader">Те, що ти зможеш зробити в пару кліків</h2>
</div>

<script>
    const blocks = document.querySelectorAll('.fade-in-down-up');

    function checkFadeup() {
      blocks.forEach(block => {
        const rect = block.getBoundingClientRect();
        const windowHeight = window.innerHeight;
        
        if (rect.top <= windowHeight * 0.8) {
          block.classList.add('active');
        }
      });
    }

    window.addEventListener('scroll', checkFadeup);
    window.addEventListener('load', checkFadeup);


    const rightItems = document.querySelectorAll('.fade-right');

    function checkFadeleft() {
        rightItems.forEach(item => {
        const rect = item.getBoundingClientRect();
        const windowHeight = window.innerHeight;
        
        if (rect.top <= windowHeight * 0.8) {
          item.classList.add('active');
        }
      });
    }

    window.addEventListener('scroll', checkFadeleft);
    window.addEventListener('load', checkFadeleft);
</script>

{% endblock content %}