{% extends 'base.html' %}

{% block content %}
<div class="vacantions">
    <h3 class="vacantions__header">INFOBUSINESS CORPORATION</h3>
    <p class="vacantions__description">В один з найбільших в Україні проектів
        заробітку на онлайн професіях триває набір в команду на наступні
        вакансії:</p>
    <ul class="vacantions__list">
        <li class="vacantions__list-item">Менеджер по роботі з клієнтами</li>
        <li class="vacantions__list-item">Створення візуалу</li>
        <li class="vacantions__list-item">Контент-менеджер</li>
        <li class="vacantions__list-item">Таргетолог</li>
        <li class="vacantions__list-item">SMM-менеджер</li>
        <li class="vacantions__list-item">Байер</li>
        <li class="vacantions__list-item">Дропшипер</li>
        <li class="vacantions__list-item">Куратор навчання</li>
    </ul>
    <div class="vacantions__button">
        <a href="#" class="vacantions__button-link">Приєднатися</a>
    </div>
</div>
{% endblock content %}