{% extends 'base.html' %}

{% block content %}
<div class="vacantions">
    <h3 class="vacantions__header">INFOBUSINESS CORPORATION</h3>
    <p class="vacantions__description">В один з найбільших в Україні проектів
        заробітку на онлайн професіях триває набір в команду на наступні
        вакансії:</p>
    <ul class="vacantions__list">
        <li class="vacantions__list-item">Обробка вхідних повідомлень від
            покупців ( Дохід від 2 тис/щоденно )</li>
        <li class="vacantions__list-item">Адміністратор інстаграм акаунтів </li>
        <li class="vacantions__list-item">Оформлення візуалів сторінок під
            замовлення</li>
        <li class="vacantions__list-item">Створення контенту тікток/рілс під
            замовлення </li>

        <li class="vacantions__list-item">Менеджер по роботі з клієнтами</li>
        <li class="vacantions__list-item">Створення візуалу</li>
        <li class="vacantions__list-item">Контент-менеджер</li>
        <li class="vacantions__list-item">Таргетолог</li>
        <li class="vacantions__list-item">SMM-менеджер</li>
        <li class="vacantions__list-item">Байер ( можливість купувати товари на
            90% дешевше дешевше усіх ринкових цін ) </li>
        <li class="vacantions__list-item">Дропшипер</li>
        <li class="vacantions__list-item">Куратор навчання</li>
    </ul>
    <div class="vacantions__button">
        <p class="vacantions__button-header">Зацікавило?</p>
        <a href="https://www.instagram.com/freelance.angelina"
            class="vacantions__button-link">Приєднатися</a>
    </div>
</div>
{% endblock content %}