{% extends "base.html" %}

{% load static %}

<!-- {% load crispy_forms_tags %} -->

{% block content %}

<style>
  .main_block {
    padding: 20px;
    color: white;
  }
  .logo_block {
    padding: 10px;
  }
  .item {
    opacity: 0;
    transform: translateX(-60px);
    transition: opacity 1s ease, transform 1s ease;
  }
  .animated_block {
    margin-bottom: 20px;
    opacity: 0; /* Начальная непрозрачность */
    transform: translateY(100px); /* Начальное смещение вниз */
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  .fade-left.active {
    opacity: 0.9;
    transform: translateX(0);
  }
  .fade-in.active { 
    opacity: 0.9;
    transform: translateY(0); /* Блок появляется плавно смещаясь вверх */
  }
  .description_text {
    height: 50px;
  }
</style>

<main class="posts container main_block border_radius20">
  <div
    class="item posts__introduction fade-left rounded text-body-emphasis bg-body-secondary">
    <div class>
      <h1 class="display-5 bold">Хей! Читай останні новини
        та Rise оновлення тут.</h1>
      <p class="lead my-3">Будь то нові ціни на категорії, чи як скоро
        з'являться
        нові соц мережі, ти будеш бачити це саме в Rise постах.</p>
    </div>
  </div>

  {% if object_list %}
  <div class="posts__list mb-2 row animated_block fade-in">
    {% for obj in object_list %}
    <div class="posts__list-item">
      <div class="posts__list-item__description">
        {{obj.short_description}}</div>
      <a class="posts__list-item__button"
        href="{% url 'post_detail' obj.id %}">Подробиці</a>
    </div>
    {% endfor %}
  </div>

  {% else %}
  <div
    class="animated_block text-center fade-in empty_message col-sm-8 py-5 mx-auto">
    <h3 class="display-6 fw-normal">Поки що тут нічого немає.</h3>
    <h4 class="fs-5">Оновлюємо інформацію</h4>
  </div>
  {% endif %}

</main>

<script>
  const leftItems = document.querySelectorAll('.fade-left');
  const blocks = document.querySelectorAll('.fade-in');
  
  function checkFade() {
    leftItems.forEach(item => {
      const rect = item.getBoundingClientRect();
      const windowHeight = window.innerHeight;
      
      if (rect.top <= windowHeight * 0.8) {
        item.classList.add('active');
      }
    });

    blocks.forEach(block => {
      const rect = block.getBoundingClientRect();
      const windowHeight = window.innerHeight;
      
      if (rect.top <= windowHeight * 0.8) {
        block.classList.add('active');
      }
    });
  }
  
  window.addEventListener('scroll', checkFade);
  window.addEventListener('load', checkFade);
</script>

{% endblock content %}