{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    .payment_choose_content {
        padding: 20px;
    }
</style>

<div class="px-4 py-5 my-5 text-center shadow container border_radius20">
    <h1 class="display-6 fw-bold text-body-emphasis">Хай! Поповни баланс</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Вибери суму та валюту, для Rise поповнення.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <form method="post" class="payment_choose_content form_body" novalidate="">
            <div class="row g-3">
                {% csrf_token %}
                {{ form | crispy }}
                <hr>
                <button class="btn btn-warning rounded-pill px-3" type="submit">Далі</button>
            </div>
        </form>
      </div>
    </div>
  </div>
<div class="container py-5">

</div>

{% endblock content %}
